<p id="notice"><%= notice %></p>

<h1>Genre</h1>

<p>
  <b>ID: </b>
  <%= @genre.id %>
</p>

<!-- doc => http://rails3try.blogspot.jp/2012/01/rails3-i18n.html -->

<p>
  <b><%= t('Name')%>: </b>
  <%= @genre.name %>
</p>

<p><b>Categories:</b><br />
	<% if @categories.length != 0 %>
		
		<% @categories.each do |category| %>
			<%= category.id %>. <%= link_to category.name, category %><br />
		<% end %>
		
	<% else %>
		@categories => nil!
	<% end %>
</p>

<p>
	<%#= link_to 'Add category', new_category_path, :genre_id => @genre.id %>
	<%#= link_to 'Add category', new_category_path, :method => 'get', :genre_id => @genre.id %>
	<%= link_to 'Add category', :controller => 'categories', :action => 'new', :genre_id => @genre.id %>
</p>

<br />

<%= link_to t('scaffold_labels.Edit'), edit_genre_path(@genre) %> |
<%= link_to t('scaffold_labels.Back'), genres_path %>&nbsp;&nbsp;|&nbsp;
<%= link_to t('scaffold_labels.Destroy'), @genre, confirm: 'Are you sure?', method: :delete, :style => "color: red;" %>
