<h1 class="title" id="top">
	<% if @genre == "soci" %>
		Society
	<% elsif @genre == "int" %>
		Overseas
	<% elsif @genre == "bus_all" %>
		Economy
	<% else %>
		Society
	<% end %>
</h1>
<br/>

<br/>
<div>
	<%= link_to 'Society', 
			:controller => "articles", 
			:action => "index", 
			:genre => "soci" %> |
	<%= link_to 'Econ', 
			:controller => "articles", 
			:action => "index", 
			:genre => "bus_all" %> | 
	<%= link_to 'Overseas', 
			:controller => "articles", 
			:action => "index", 
			:genre => "int" %>&nbsp;&nbsp;|&nbsp;
	<%= link_to 'Admin', 
			:controller => "genres", 
			:action => "index"
			%>

</div>
	<!-- 	Categories -->
	<hr/>
		<% @categories.each do |category| %>
			<a href="#<%= category%>"><%= category %></a> | 
		<% end %>
	<hr /><br />
	

@objects.class => <%= @objects.class %> <!-- => Array --><br />
@objects.size => <%= @objects.size %><br />
@objects[0].class => <%= @objects[0].class %><br /> <!-- => Array -->
@objects[0].size => <%= @objects[0].size %><br /> <!-- => 2 -->
<br />
@objects[0][0].class => <%= @objects[0][0].class %><br /> 
@objects[0][0].size => <%#= @objects[0][0].size %><br />
@objects[0][0] => <%#= @objects[0][0] %><br />
@objects[0][1].class => <%#= @objects[0][1].class %><br /> 
@objects[0][1].size => <%#= @objects[0][1].size %><br />
@objects[0][1] => <%#= @objects[0][1] %><br />
<br />
@objects[0] => <%#= @objects[0] %>
<br /><br />

@cat_usa => <%#= @cat_usa %><br/>
@cat_usa.size => <%#= @cat_usa.size %><br />
@cat_usa[0] => <%#= @cat_usa[0] %><br />
@cat_usa[0].class => <%#= @cat_usa[0].class %><br />

<%#= @cat_usa[0].content %>
@cat_usa[0].content.encode('euc-jp') => <%#= @cat_usa[0].content.encode('euc-jp') %><br />
<%#= @cat_usa[0].content.include?("米国") %><br />

<br /><br/>

@cat_usa[0].size => <%= @cat_usa[0].size %><br />
@cat_usa[0] => <%= @cat_usa[0] %><br />
@cat_usa => <%= @cat_usa %><br />
