<h1 class="title" id="top">
	<% if @genre == "soci" %>
		Society
	<% elsif @genre == "int" %>
		Overseas
	<% elsif @genre == "bus_all" %>
		Economy
	<% else %>
		Society
	<% end %>
</h1>
<%= @testword %>
<br/>

<br/>
<div>
	<%= link_to 'Society', 
			:controller => "articles", 
			:action => "index", 
			:genre => "soci" %> |
	<%= link_to 'Econ', 
			:controller => "articles", 
			:action => "index", 
			:genre => "bus_all" %> | 
	<%= link_to 'Overseas', 
			:controller => "articles", 
			:action => "index", 
			:genre => "int" %>&nbsp;&nbsp;|&nbsp;
	<%= link_to 'Admin', 
			:controller => "genres", 
			:action => "index"
			%>

</div>

<hr/>
