<%= form_for(@subcat) do |f| %>
  <% if @subcat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcat.errors.count, "error") %> prohibited this subcat from being saved:</h2>

      <ul>
      <% @subcat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%#= f.number_field :category_id %>
    
    <%#= f.select :category_id, @categories {|c| [c.id, c.name]} %>
    <%#= f.select :category_id, Category.all.collect {|c| [c.id, c.name]} %>
    <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]} %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
