<%= form_for(@keyword) do |f| %>
  <% if @keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
      <% @keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :words %><br />
    <%= f.text_field :words %>
  </div>
  
  <div class="field">
    <%= f.label :genre_id %><br />
    <%#= f.number_field :genre_id %>

    <%= select(
    			"keyword", "genre_id", 
    			Genre.all.collect {|g| [g.name, g.id]},
    			{:include_blank => false, :selected => @keyword.genre_id}
   		) %>
   		
  </div>

	<div>
		<input id="send_genre" type="button" value="Send genre" />
	</div>

  <div class="field">
    <%= f.label :category_id %><br />
    
    <% if @keyword.category_id != nil %>
    @keyword.category_id != nil<br />
	    <%= select(
	    			"keyword", "category_id", 
	    			@cats.collect {|c| [c.name, c.id]},
	    			{:include_blank => false, :selected => @keyword.category_id}
	   		) %>
	<% else %>
	@keyword.category_id == nil<br />
	    <%= select(
	    			"keyword", "category_id", 
	    			@cats.collect {|c| [c.name, c.id]},
	    			{:include_blank => false}
	   		) %>
	<% end %>

    <%#= f.number_field :category_id %>
    
  </div>
  
  <div class="field">
    <%= f.label :subcat_id %><br />
    <%= f.number_field :subcat_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
