<h1>Listing keywords</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Words</th>
    <th>Genre</th>
    <th>Category</th>
    <th>Subcat</th>
  </tr>

<% @keywords.each do |keyword| %>
  <tr>
  	<td class="column_center"><%= keyword.id %></td>
    <td><%= link_to keyword.words, keyword %></td>
    <td><%= keyword.genre_id %></td>
    <td><%= keyword.category_id %></td>
    <td><%= keyword.subcat_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyword', new_keyword_path %>
