<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br />
		<!-- Ref => http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select     -->
    
    <% if @category.genre_id != nil %>
	    <%= select("category", "genre_id", 
	    			Genre.all.collect {|g| [g.name, g.id]}, 
	    			{:include_blank => true, :selected => @category.genre_id}) %>
    <% else %>
	    <%= select("category", "genre_id", 
	    			Genre.all.collect {|g| [g.name, g.id]}, 
	    			{:include_blank => true}) %>
    <% end %>
    
    <%#= f.number_field :genre_id %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- @cats => <%#= @cats %>(<%#=@cats.size.to_s %>) -->

<%#= @adapter %>

<!--   <div class="field"> -->
    <%#= f.label :genre_id %><br />
    <%#= f.number_field :genre_id %>
<!--   </div> -->

<%#= f.collection_select :genre_id, @genre_names, :to_s, :to_s, :include_blank => true %>
<%#= f.select :name, @genres, :selected => params[:id] %>
<%#= select("post", "genre_id", Genre.all.collect {|g| [g.name, g.id]}, {:include_blank => true}) %>