<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Genre:</b>
  <%= link_to @category.genre.name, @category.genre %>&nbsp;(id=<%= @category.genre_id %>)
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>&nbsp;&nbsp;|
<%= link_to 'Back to genres list', genres_path %>

