<!DOCTYPE html>
<html>
<head>
  <title>NewsReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<!--   <meta charset="euc-jp" /> -->
  
<!--   <meta http-equiv="Content-Type" content="text/html; charset=euc-jp"> -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
<!--   <meta http-equiv="Content-Type" content="text/html; charset=euc-jp" > -->
</head>
<body>


<%= yield %>

<hr />
<%= link_to_unless_current 'Genres list', genres_path %>&nbsp;|&nbsp;
<%= link_to_unless_current 'Categories list', categories_path %>&nbsp;|&nbsp;
<%= link_to_unless_current 'Subcategories list', subcats_path %>&nbsp;|&nbsp;
<%= link_to_unless_current 'Keywords list', keywords_path %>
<hr />

<%= link_to 'Back to articles', articles_path %>

<hr />

</body>
</html>
